<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- boostrap 5.2 CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container d-flex flex-column align-items-center">
        <h1 class="text-center mt-5">home page</h1>
        <!-- see if you can get this style in stylesheet instead of inline here -->
        <div class="container d-flex justify-content-center">
            <a href="/" class="m-2"><i class="bi bi-house icon-lg"></i></a> 
            <a href="/edit" class="m-2"><i class="bi bi-pencil-square icon-lg"></i></a>
        </div>
        <!-- habit card -->
        
        <div class="container">
            <div class="row row-cols-auto d-flex justify-content-center">
                <% habits.forEach( el => { %>
                    <div class="card col m-2 card-habit">
                        <div class="card-body habitItem d-flex justify-content-between" data-id='<%=el._id%>'>
                            <h5 class='card-title'><%= el.habit %></h5>
                            <i class="bi bi-check-circle"></i>
                        </div>
                    </div>
                <% }) %> 
                <a href="/edit" class="card col m-2 card-habit d-flex justify-content-center align-items-center"><i class="bi bi-plus-circle icon-lg"></i></a>
            </div>
        </div>
        
    </div>

    <!-- Bootstrap 5.2 JS link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>