body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(29, 33, 42);
    color: aliceblue;
}
i{
    cursor: pointer;
}
.container-fullpage{
    height: 100vh;
}
.icon-md {
    font-size: 1.5rem;
    color: #FFFFFF87;
}
.icon-lg {
    font-size: 2rem;
    color: #FFFFFF99;
}
.icon-xl {
    font-size: 3rem;
    color: #FFFFFF99;
}

.card-habit{
    width: 16rem;
    height: 6rem;
    background-color: rgb(45, 51, 66);
}
.modal-content{
    background-color: rgb(45, 51, 66);
}
.font-anton{
    font-family: 'Anton', sans-serif;
}