body{
    background-color: rgb(29, 33, 42);
    color: aliceblue;
}
.icon-color-primary{
    color: #FFFFFF87;
}
.card-habit{
    background-color: rgb(45, 51, 66);
}
.modal-content{
    background-color: rgb(45, 51, 66);
}
