body{
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    color: rgb(29, 33, 42);
}
/* body{
    background-color: rgb(29, 33, 42);
    color: aliceblue;
} */
.container-fullpage{
    height: 100vh;
}
.card-habit{
    width: 16rem;
    height: 8rem;
    background-color: rgb(246, 250, 255);
}

.modal-content{
    background-color: rgb(246, 250, 255);
}
/* rgb(45, 51, 66) */

.font-anton{
    font-family: 'Anton', sans-serif;
}

.icon-color-primary{
    color: black;
}

/* ICON STYLES */
i{
    cursor: pointer;
}
.icon-md {
    font-size: 1.5rem;
}
.icon-lg {
    font-size: 2rem;
}
.icon-xl {
    font-size: 3rem;
}