body{
    font-family: 'Open Sans', sans-serif;
}
.container-fullpage{
    height: 100vh;
}
.card-habit{
    width: 16rem;
    height: 8rem;
}
.font-anton{
    font-family: 'Anton', sans-serif;
}

/* ICON STYLES */
i{
    cursor: pointer;
}
.icon-md {
    font-size: 1.5rem;
}
.icon-lg {
    font-size: 2rem;
}
.icon-xl {
    font-size: 3rem;
}